* {
    font-family: 'Gowun Dodum', sans-serif;
}

main {
    padding-bottom: 100px;
    background-color: #ccc;
}
.members_body {
    height: 1200px;
    background-color: #fff;
}

.head {
    width: 100%;
    height: 200px;

    background-color: #000;
    background-position: center;
    background-size: cover;

    color: #8e00d8;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.head > h1 {
    font-size: 60px;
    font-weight: 600;
}

.main-text {
    background: url('https://ifh.cc/g/9vCQZx.jpg') center top;
    /*background: url('https://ifh.cc/g/3l0ajC.jpg') center;*/
    /*background-size: cover;*/
    height: 100%;
}

.MBTI {
    width: 70%;
    margin: auto;
    color: #fff;
    padding-top: 50px;
}

.MBTI > p {
    font-size: 200px;
    font-weight: 300;
    margin-bottom: 0;
    letter-spacing: 10px;
}

.MBTI > h2 {
    font-size: 150px;
    font-weight: 600;
    margin-top: -30px;
}

.text_wrap {
    width: 68%;
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
}

/*.introduce {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

.introduce > p,
.strength > p{
    font-size: 20px;
}

/*.strength {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: center;*/
/*}*/

.text_wrap > h3 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 20px;
}

.url {
    margin-top: 50px;
    width: 34%;
}

.url > a:hover {
    color: #fff;
}

.members {
    width: 100%;
    height: 400px;
    background-color: #666;
    text-align: center;
    color: #fff;
}

.member_title {
    font-size: 32px;
    padding: 40px 0;
}

.mem_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 80%;
}

.member {
    width: 20%;
    list-style: none;
}

.mem_img {
    margin: 0 auto 16px;
    width: 160px;
    height: 160px;
    border-radius: 100px;
    background-color: #bababa;
    /* background: url(https://png.pngtree.com/png-vector/20190716/ourlarge/pngtree-edit-profile-icon-trendy-style-isolated-background-png-image_1543058.jpg) center; */
    /* background-size: cover; */
}

.mem_name {
    font-size: 20px;
}