body {
    background-color: #ccc;
}

header {
    position: relative;
    width: 100%;
    height: 600px;
    background: url(https://images.unsplash.com/photo-1474515644177-2b51198d11ed?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80) center;
    background-size: cover;
}


h1 {
    font-size: 100px;
    /*position: absolute;*/
    /*bottom: -64px;*/
    color: #fff;
    text-align: center;
    padding-top: 170px;
    font-weight: normal;
}

.introduce {
    width: 100%;
    height: 445px;
    background-color: #eee;
    text-align: center;
}

.intro_title {
    font-size: 32px;
    padding: 40px 0;
    color: #8e00d8;
    font-weight: 600;
}

.intro_text {
    font-size: 20px;
    font-weight: bold;
    color: #393939;
    line-height: 20px;
}

.comments {
    display: none;
    position: relative;
    width: 100%;
}

.guestBook {
    width: 100%;
    background-color: #ccc;
    padding: 10px;
}

.d-grid gap-2 {
    width: 95%;
    margin: 20px auto 20px auto;
}

.btn-primary {
    background-color: #8e00d8;
    border-color: #8e00d8;
}

.btn-primary:hover {
    background-color: #620d90;
    border-color: #620d90;
}

.btn-dark{
  background-color: #fff;
  color: #8e00d8;
  border: 2px solid #8e00d8;
  font-weight: 600;
  width: 115px;
}

.btn-dark:hover {
  background-color: #8e00d8;
  color: #fff;
  border-color: #8e00d8;
}

.btn-outline-dark {
  width: 115px;
  margin-left: 20px;
  border: 2px solid #666;
  color: #666;
  font-weight: 600;
}

.btn-outline-dark:hover {
  background-color: #666;
  color: #fff;
  border-color: #666;
}

.mypost {
    width: 95%;
    max-width: 100%;
    margin: 20px auto 20px auto;
    background-color: white;
    box-shadow: 0px 0px 3px 0px black;
    padding: 20px;
}

.mypost > button {
    margin-top: 15px;
}

.comm-list {
    width: 90%;
    max-width: 95%;
    margin: 10px auto;
}

.card {
    padding: 10px;
    margin: 15px 0;
    border-radius: 20px;
    /*border: 1px solid ;*/
    box-shadow: 5px 5px #999;
}

.blockquote-footer {
    margin-top: 0;
}

.card > .blockquote-footer > cite {
    margin-left: 10px;
    color: #8e00d8;
    font-weight: 600;
}

.blockquote {
    margin-left: 20px;
}

.postBt {
    text-align: center;
    margin-top: 20px;
}

/* 예진님 방명록 css 끝 */

.comm_txt {
    text-align: center;
    color: #fff;
    font-weight: 400;
    padding-top: 8px;
    font-size: 16px;
}

.ico_down::before {
    position: absolute;
    left: 49.8%;
    content: "";
    width: 8px;
    height: 8px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: translate(0px, 0px) rotate(225deg);
}


.join {
    height: 100%;
    margin-bottom: 160px;
    /* background-color: #ccc; */
}

.join_btn {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #fff;
    border: 2px solid #8e00d8;
    border-radius: 75px;
    margin: 40px auto 20px;
    color: #8e00d8;
    cursor: pointer;
    font-weight: 600;
    /*border: none;*/
}

.join_wrap {
    display: none;
    width: 400px;
    height: 100%;
    margin: 40px auto;
    padding: 10px 0 20px;
    background-color: #fff;
    border: 1px solid #aaa;
}

.join_wrap > input,
.join_wrap > textarea {
    width: 380px;
    height: 50px;
    margin: 5px 10px;
    padding: 10px 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-weight: 600;
    color: #666666;
}

.request > ul {
    padding: 0;
}

.btn_wrap {
    height: 100px;
}

input.join_submit {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #8e00d8;
    border-radius: 75px;
    color: #fff;
    font-size: 16px;
    margin: 40px 15px 30px 35px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    border: none;
    float: left;
}

input.join_close {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #8e00d8;
    border-radius: 75px;
    color: #fff;
    font-size: 16px;
    margin: 40px 15px 30px;
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    border: none;
    float: left;
}

.join_wrap > textarea::placeholder,
.join_wrap > input::placeholder {
    color: #ccc;

}

.join_wrap > textarea:focus,
.join_wrap > input:focus {
    outline: none;
    border-color: #8e00d8;
}

.request {
    width: 380px;
    margin: 20px auto 0;
}

.req_member {
    position: relative;
    width: 100%;
    height: 56px;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 20px;
    font-size: 28px;
    font-weight: 600;
    color: #666;
    padding: 10px 0 0 20px;
    box-shadow: 5px 5px #111;
    margin-top: 20px;
}

.wait_box {
    position: absolute;
    right: 16px;
    top: 7px;
    width: 100px;
    height: 40px;
    background-color: #111;
    color: #fff;
    border-radius: 14px;
    text-align: center;
    padding-top: 9px;
    font-size: 16px;
}
