<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Purple People Project</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../static/js/api.js"></script>
    <script src="../static/js/app.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css"/>
    <link rel="stylesheet" href="../static/css/base.css"/>
</head>
<body>
<header>
    <h1>P.P.P</h1>
</header>

<section class="introduce">
    <h2 class="intro_title">let N5a = ["P"]</h2>
    <p class="intro_text">
        N5a(노아)는 Node.js A반 5조에서 앞글자만 따 만들어진 팀이름 입니다.
    </p>
    <p class="intro_text">
        N5a를 변수로 선언한 이유는 N5a의 팀원은 모두 변수를 즐기는 "P"로
        이루어져있기 때문입니다.
    </p>
    <p class="intro_text">
        "P"로 이루어진 우리는 자유로움을 의미하는 Purple색을 main color로
        사용하였습니다.
    </p>
    <p class="intro_text">저희는 .....를 목표로하며</p>
    <p class="intro_text">.......를 약속합니다.</p>
    <p class="intro_text">Purple People 화이팅!!</p>
</section>

<section class="members">
    <h2 class="member_title">N5a members</h2>
    <ul class="mem_wrap">
        <li class="member">
            <a href="/members">
                <div class="mem_img"></div>
            </a>
            <p class="mem_name">Jeonghoon</p>
            <p class="mem_intro">N5a 조장</p>
        </li>

        <li class="member">
            <a href="/members">
                <div class="mem_img"></div>
            </a>
            <p class="mem_name">Seungmin</p>
            <p class="mem_intro">N5a 조장</p>
        </li>

        <li class="member">
            <a href="/members">
                <div class="mem_img"></div>
            </a>
            <p class="mem_name">Minwook</p>
            <p class="mem_intro">N5a 조장</p>
        </li>

        <li class="member">
            <a href="/members">
                <div class="mem_img"></div>
            </a>
            <p class="mem_name">Yejin</p>
            <p class="mem_intro">N5a 조장</p>
        </li>

        <li class="member">
            <a href="/members">
                <div class="mem_img"></div>
            </a>
            <p class="mem_name">Jinwoo</p>
            <p class="mem_intro">N5a 조장</p>
        </li>
    </ul>
</section>

<section class="comments">

        <h3 class="comm_txt">방명록 남기기</h3>
        <i class="ico_down"></i>

</section>

<section class="join">
    <input
            id="joinBtn"
            type="button"
            onclick="toggleBtn()"
            class="join_btn"
            value="N5a 합류하기"
    />
    <article class="join_wrap" id="joinWrap">
        <input id="koName" type="text" placeholder="이름"/>
        <input id="enName" type="text" placeholder="영문이름(이름 성)"/>
        <input id="mbti" type="text" placeholder="MBTI"/>
        <input id="blog" type="text" placeholder="블로그 주소"/>
        <textarea name="" id="introduce" placeholder="자기소개"></textarea>
        <textarea name="" id="strengths" placeholder="객관적인 자신의 장점"></textarea>
        <div class="btn_wrap">
            <input id="joinSubmit" type="submit" value="합류 신청하기" class="join_submit" onclick="join()"/>
            <input id="joinClose" type="button" value="닫기" class="join_close" onclick="toggleBtn()"/>
        </div>
    </article>
    <article class="request">
        <ul id="name_box">
        </ul>
    </article>
</section>
</body>
</html>
