<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/members.css"/>
    <link rel="stylesheet" href="../static/css/base.css"/>
    <link rel="stylesheet" href="../static/css/guest.css"/>
    <script src="../static/js/members.js"></script>
    <script src="../static/js/api.js"></script>

    <title>Members</title>

</head>
<body>
<main>
    <section id="members" class="members_body">

    </section>
    <section class="members">
        <h2 class="member_title">N5a members</h2>
        <ul class="mem_wrap">
            <li class="member">
                <a href="/members-layout?id=0">
                    <div class="mem_img"></div>
                </a>
                <p class="mem_name">Jeonghoon</p>
                <p class="mem_intro">N5a 조장</p>
            </li>

            <li class="member">
                <a href="/members-layout?id=1">
                    <div class="mem_img"></div>
                </a>
                <p class="mem_name">Seungmin</p>
                <p class="mem_intro">N5a 조장</p>
            </li>

            <li class="member">
                <a href="/members-layout?id=2">
                    <div class="mem_img"></div>
                </a>
                <p class="mem_name">Minwook</p>
                <p class="mem_intro">N5a 조장</p>
            </li>

            <li class="member">
                <a href="/members-layout?id=3">
                    <div class="mem_img"></div>
                </a>
                <p class="mem_name">Yejin</p>
                <p class="mem_intro">N5a 조장</p>
            </li>

            <li class="member">
                <a href="/members-layout?id=4">
                    <div class="mem_img"></div>
                </a>
                <p class="mem_name">Jinwoo</p>
                <p class="mem_intro">N5a 조장</p>
            </li>
        </ul>
    </section>


    <section class="guestBook">
        <div class="d-grid gap-2">
            <button class="btn btn-primary" type="button" onclick="open_box()">흔적 남기기</button>
            <!--            <i class="ico_down"></i>-->
        </div>
        <div class="comments" id="comment-box">
            <div class="mypost">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="guestName" placeholder="url">
                    <label for="guestName">NICKNAME</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="guestMbti" placeholder="url">
                    <label for="guestMbti">MBTI</label>
                </div>
                <div class="form-floating">
                <textarea class="form-control" placeholder="Leave a comment here" id="guestComment"
                          style="height: 100px"></textarea>
                    <label for="guestComment">COMMENTS</label>
                </div>
                <div class="postBt">
                    <button onclick="save_comment()" type="button" class="btn btn-dark">흔적 남기기</button>
                    <button onclick="close_box()" type="button" class="btn btn-outline-dark">닫기</button>
                </div>

            </div>
            <div class="comm-list" id="comm-list">

            </div>
        </div>
    </section>
</main>
</body>
</html>